# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Virtual environments
.venv/
venv/
env/

# Python caches
.pytest_cache/
.mypy_cache/

# VS Code
.vscode/

# Processed datasets
data/processed/
# Raw data kept local
data/raw/
